services:
  fermento-frontend:
    image: fermento-frontend
    build: /frontend
    restart: unless-stopped
    environment:
      - STREAMLIT_SERVER_ADDRESS=0.0.0.0
      - STREAMLIT_SERVER_PORT=8501
      - STREAMLIT_SERVER_HEADLESS=true
      - STREAMLIT_SERVER_ENABLESTATICSERVING=true
      - STREAMLIT_SERVER_BASEURLPATH=/fermento/v1
    ports:
      - 8501:8501
    networks:
      - services

networks:
  services:
    driver: bridge
