version: "3.8"

services:
  nginx:
    image: fermento-nginx
    container_name: fermento-nginx
    build: ../nginx
    restart: unless-stopped
    ports:
      - 80:80
    volumes:
      - ../nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - services

networks:
  services:
    driver: bridge
    external: true
