services:
  mosquitto:
    image: fermento-mosquitto
    build: ../mosquitto
    container_name: fermento-mosquitto
    environment:
      - TZ=Europe/Madrid
    volumes:
      - ../mosquitto/volume/data:/mosquitto/data
      - ../mosquitto/volume/log:/mosquitto/log
    ports:
      - 1883:1883
      - 9001:9001
    networks:
      - services
    restart: unless-stopped

  frontend:
    image: fermento-frontend
    container_name: fermento-frontend
    build: ../frontend
    restart: unless-stopped
    environment:
      - STREAMLIT_SERVER_ADDRESS=0.0.0.0
      - STREAMLIT_SERVER_PORT=8501
      - STREAMLIT_SERVER_HEADLESS=true
      - STREAMLIT_SERVER_ENABLESTATICSERVING=true
      - STREAMLIT_SERVER_BASEURLPATH=/fermento/v1
    ports:
      - 8501:8501
    networks:
      - services

  api:
    image: fermento-api
    container_name: fermento-api
    build: ../api
    restart: unless-stopped
    environment:
      - API_ROOT_PATH=/src/data/
      - API_DB_URL=sqlite:////src/data/database.db
      - API_LOG_LEVEL=DEBUG
    ports:
      - 8091:8091
    volumes:
      - ../api/data/:/src/data/
      - ../api/src/migrations/versions:/src/migrations/versions/
    networks:
      - services

  ingestor:
    image: fermento-ingestor
    container_name: fermento-ingestor
    build: ../ingestor
    restart: unless-stopped
    environment:
      - API_ADDRESS=http://api:8091
      - BROKER_ADDRESS=mosquitto
      - BROKER_PORT=1883
      - TOPIC_FEEDING_SAMPLES_CREATE=fermento/+/feeding_samples/create
      - TOPIC_JARS_CREATE=fermento/+/jars/create
      - TOPIC_FEEDING_EVENTS_REQUEST=fermento/+/feeding_events/request
      - TOPIC_FEEDING_EVENTS_RECEIVE=fermento/feeding_events/receive
    ports:
      - 8092:8092
    volumes:
      - ../api/data/:/src/data/
      - ../api/src/migrations/versions:/src/migrations/versions/
    networks:
      - services

networks:
  services:
    driver: bridge
    external: true
