services:
  nginx:
    image: nginx
    build: ../nginx
    restart: unless-stopped
    ports:
      - 80:80
    volumes:
      - ./default.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - services
    depends_on:
      - frontend
      - api

  frontend:
    image: fermento-frontend
    build: ../frontend
    restart: unless-stopped
    environment:
      - STREAMLIT_SERVER_ADDRESS=0.0.0.0
      - STREAMLIT_SERVER_PORT=8501
      - STREAMLIT_SERVER_HEADLESS=true
      - STREAMLIT_SERVER_ENABLESTATICSERVING=true
      - STREAMLIT_SERVER_BASEURLPATH=/fermento/v1
    ports:
      - 8501:8501
    networks:
      - services

  api:
    image: fermento-api
    build: ../api
    restart: unless-stopped
    environment:
      - FERMENTO_API_ROOT_PATH=/src/data/
      - FERMENTO_API_DB_URL=sqlite:////src/data/database.db
      - FERMENTO_API_LOG_LEVEL=DEBUG
    ports:
      - 8091:8091
    volumes:
      - ../api/data/:/src/data/
      - ../api/src/migrations/versions:/src/migrations/versions/
    networks:
      - services

networks:
  services:
    driver: bridge
